@import '../../theme/variables';

%list-content {
  list-style: none;
  margin: 0;
  padding: 0;
  //overflow: inherit;
  box-sizing: border-box;
}

%list-item {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.list {
  &__content {
    position: relative;

    @extend %list-content;
  }

  &__item {
    @extend %list-item;
  }

  &_inline {
    .list {
      &__item {
        vertical-align: top;
        white-space: normal;
        width: auto;
        text-align: left;

        &Separator {
          display: inline-block;
          vertical-align: middle;
          padding: 0 3px;
          line-height: 0;

          + .list__item {
            vertical-align: middle;
            //line-height: 0;
          }
        }
      }

      &__separator {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 13px;
        background-color: #a7a4a4;
      }
    }
  }

  &_tile {
    .list {
      &__content {
        width: 100%;
        display: table;
      }

      &__item {
        vertical-align: top;
        text-align: left;

        &_w25 {
          width: 25%;
        }
      }
    }
  }

  &_centeredVertical {
    .list {
      &__item {
        vertical-align: middle;
      }
    }
  }

  &_overflowHidden {
    .list {
      &__content {
        overflow: hidden;
      }
    }
  }

  &_itemBlock {
    .list {
      &__item {
        display: block;
      }
    }
  }
}
