@import '../../theme/variables';

.image {
  text-align: center;

  &__imgThumbnail,
  &__imgImage {
    max-width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    line-height: 0;
  }

  &__imgThumbnail {
    position: relative;
    background: transparent none 50% 50% no-repeat;
    background-size: contain;
    overflow: hidden;
    height: 0;
    width: 100%;
  }

  &__imgImage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}
