@import '../../theme/variables';

.rss {
  margin: auto 0;
  line-height: 1;
  opacity: .5;
  transition: .25s;

  &__link {
    text-decoration: none;
    border-radius: 3px;
    //font-size: 8px;
    padding: 1px 2px;
    font-weight: bold;
    background-color: #6c95ac;
    color: #fff;
    display: block;
    line-height: 0;
    vertical-align: middle;
  }

  &__text {
    font-size: 8px;
    display: inline-block;
    color: inherit;
    vertical-align: middle;
    line-height: 1;
  }

  &:hover {
    opacity: 1;
  }
}

@mixin rss {
  .rss {
    display: none;
    //&__icon {}
  }
}

@media #{$phone} {
  @include rss;
}

.tv {
  @include rss;
}
