@import '../../theme/variables';

%pic {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.picAmp {
  border-radius: inherit;
  position: relative;
  width: 100%;
  height: 100%;

  @extend %pic;

  amp-img {
    display: block;
    //vertical-align: middle;
    margin: auto;
    width: 100%;
    height: 100%;

    @extend %pic;

    img {
      height: auto;
      width: auto;
      min-width: 0;

      @extend %pic;
    }
  }
}
