@import '../../theme/variables';

%pic {
  margin: auto;
  border-radius: inherit;
  text-align: center;
  box-sizing: border-box;
  height: unset;
}

.pic {
  @extend %pic;

  &__wrapper {
    @extend %pic;

    position: relative;
    line-height: 0;
    width: 100%;
    // display: inline-block;
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    overflow: inherit;

    img,
    video {
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
    }
  }

  &__img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    display: block;
    margin: auto;
    overflow: hidden;
  }

  &_inlineBlock {
    display: inline-block;
    vertical-align: middle;
  }
}
