@import '../../theme/variables';

.dragging {
  user-select: none;
  //user-drag: none;
}

.slider {
  overflow: hidden;
  // touch-action: none;
  &__arrow {
    &_right {
      float: right;
    }

    &_left {
      float: left;
    }
  }

  &__scrollContainer {
    clear: both; // ??
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
    background-attachment: fixed;
    // transform: translate3d(0,0,0);
    // transform: translateZ(0px);
    will-change: scroll-position;
    //Scroll Snap Properties
    scroll-snap-type: mandatory;
    // scroll-snap-points-x: repeat(23%);
    // scroll-snap-destination: 4% 0;
    position: relative;
    white-space: nowrap;
  }

  &__item {
    white-space: normal;
    // height: 100px;
    // width: 23%;
    box-sizing: border-box;
    // border: 1px solid red;
    display: inline-block;
    backface-visibility: hidden;
    background-attachment: fixed;
    // transform: translateZ(0px);
  }

  &__item img {
    pointer-events: none;
  }
  //&__content * {
  //transform: translateZ(0px);
  //}
}

@media #{$phone} {
  .slider {
    //&__scrollContainer {
    // scroll-snap-points-x: repeat(94%);
    // scroll-snap-destination: 3% 0;
    //}
    //&__item{
    //scroll-snap-destination: 50% 0;
    // width: 94%;
    //}
  }
}
