// размеры экранов
// ПК
$desktop: 992px !default;
$desktop-min: $desktop !default;
$desktop-max: ($desktop-min - 1) !default;
// планшет
$tablet: 768px !default;
$tablet-min: $tablet !default;
$tablet-max: ($tablet-min - 1) !default;

// удобные для верстки медиа-запросы:
// ЭТИ ПЕРЕМЕННЫЕ ЕЩЕ УКАЗЫВАЮТСЯ В client.jsx
// для ПК 992 - и выше (реальные размеры для рисования 940+)
$desktop: #{'(min-width:'$desktop-min')'};
// для планшетов 768 - (992-1) (реальные размеры для рисования 753-910)
$tablet: #{'(min-width:'$tablet-min') and (max-width:'$desktop-max')'};
// для планшетов 768 - и выше (реальные размеры для рисования 940+)
$tablet-and-desktop: #{'(min-width:'$tablet-min')'};
// для мобильных + планшетов 0 - (992-1)
$phone-and-tablet: #{'screen and (max-width:'$desktop-max')'};
// для мобильных 0 - (768-1) (реальные размеры для рисования 320-752)
$phone: #{'only screen and (max-width:'$tablet-max')'};

// main variables

// $font-size-base: 13.4px;
//
// $sidebar-width: 220px;
// $sidebar-width-300: 300px;
// $pl15: 15px;
// $w200: 200px;
// $w40: 40%;
// $w25: 25%;
//
// $h25: 25px;
// $height-menu: 40px;
// //  height-menu-mobile: 48px;
//
// //  brand-primary: darken(#428bca, 6.5%);
// $text-color: #333;
// $main-background: #f2f2f2;
// $main-border: #e6e6e6;
// $white: #fff;
// $gray: #ccc;
// $gray-lite: #f2f2f2;
// $green: #7cad05;
// $green-hover: #6b9010;
// $olive: #b1be24;
// $red: #b50937;
// $blue: #005dab;
// $fb: #3b5998;
// $fb-hover: rgba(59, 89, 152, .9);
// $fb-lite: #92badb;
//
// $color-link: #3b5998;
// $color-icon: #b3b3b3;
//
// $shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
// $shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, .12);
//
// //  main font-size
// $font-size-main: $font-size-base;
// $font-size-h1: 15px; //  for h1
// $font-size-h2: $font-size-h1; // for h2
//
// $font-size-block-content: $font-size-main; //  for content
//
// $font-size-menu-main: $font-size-main; //  for Main menu
//
// $font-size-tab-label: 18px; //  for label big tabs
// $font-size-tab-label-little: 11px; //  for label small tabs
//
// $font-size-more: 9px; //  for More
//
// //  main color text
// $color-main: $text-color;
// $link: #274460;
// $color-additional: #6c95ac;
// $color-placeholder: #b3b3b3;
//
// $color-h1: $color-main;
// $color-h2: $color-h1;
//
// $color-content: $color-main;
// $color-content-link: $link;
//
// $color-tab-label-active: $color-additional;
// $color-tab-label-passive: #b3b3b3;
// $color-tab-label-little-active: $color-content;
// $color-tab-label-little-passive: $color-content;
//
// //  main distance-after blocks
// $distance-after-main: 20px;
// $distance-after-main-mobile: 3px;
//
// //  main padding content
// $padding-content: 25px;
//
// //  main distance-before mediacols
// $distance-before-mediacols: 20px;
//
// //  Header Menu
// $background-menu: $main-background;
// $background-menu-transparent: rgba(242, 242, 242, .9);
//
// //  Used in SRC NATIVE $fb,

