&__container {
  padding: 12px 125px 12px 0;
  background: #f2f2f2;
  // max-width: 480px;
  min-height: 80px;
  box-sizing: border-box;
}

&__appImage {
  width: 65px;
  height: 65px;
  box-sizing: border-box;
  border-radius: 15px;
}

&__appDescription {
  line-height: 17.5px;
  margin-left: 8px;
}

&__appName {
  // color: #353535;
  // color: black;
  color: #040404;
  font-size: 14px;
}

&__appDeveloper {
  // color: #3d3d3d;
  color: #3a3a3a;
  font-size: 12px;
}

&__appPrice {
  // color: #3c3c3c;
  color: #353535;
  font-size: 12px;
}

&__installButton {
  display: inline-block;
  //vertical-align: middle;
  background: transparent;
  // color: #0c71fd;
  // color: #3c72b9;
  // color: #2485e6; // old
  // color: #1e7deb;
  color: #017aff;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 2px;
  width: auto;
  //min-width: 10%;
  height: auto;
  padding: 8px 13px;
  box-sizing: border-box;
  position: absolute;
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -15px;
}

&__closeButton {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
  width: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 25px;
  border: 0;
  // left: auto;
  // margin: auto;
  background: transparent;
  box-sizing: border-box;
}
