/** Android **/

&__container {
  padding: 12px;
  // background: #f2f2f2;
  background: #fff;
  // max-width: 480px;
  min-height: 80px;
  box-sizing: border-box;
}

&__appImage {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  box-shadow: 0 0 1px #d3d3d3;
  // box-shadow: 0 0 3px 0 lightgrey;
  border-radius: 10px;
}

&__appDescription {
  margin-left: 12px;
}

&__appName {
  // font-size: 14px;
  font-size: 18px;
  font-weight: bold;
}

&__installButton {
  display: inline-block;
  vertical-align: middle;
  background: #7cad05;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
  border-radius: 2px;
  width: auto;
  min-width: 70px;
  height: auto;
  padding: 8px 13px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .29);
  box-sizing: border-box;
}

&__installContainer {
  margin-top: 20px;
  text-align: right;
  clear: both;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: auto 70%;
}

&__closeButton {
  position: absolute;
  color: #808080;
  // width: 35px;
  // height: 35px;
  font-size: 30px;
  padding: 0 .308em;
  margin: .1em;
  border: 0;
  left: auto;
  right: 0;
  top: 0;
  background: transparent;
}

&__storeImage {
  width: 100px;
  // background-image: url('./google_play_200.png');
}
