/** Default **/

.smartbanner {
  // z-index: 9998;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  text-size-adjust: none;
  display: inline-block;
  // position: fixed;
  left: 0;
  right: 0;
  // bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 0;
  box-sizing: border-box;
  will-change: bottom;
  box-shadow: 1px 1px 1px 1px #ccc;

  &__container {
    white-space: nowrap;
    position: relative;
    width: 100%;
  }

  &__appImage {
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
  }

  &__appDescription {
    display: inline-block;
    vertical-align: middle;
  }

  &__appName {
    // font-weight: bold;
  }

  &__storeImage {
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__installButton {
    cursor: pointer;
    outline: none;
    text-align: center;
    color: #659e2d;
    text-decoration: none;

    &:focus {
      outline: none;
    }
  }

  &__closeButton {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &_android {
    max-width: 480px;
    min-width: 320px;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    z-index: 9998;

    .react-rater {
      font-size: 22px;

      a {
        color: #d8d8d6;
      }

      .is-active {
        color: #659e2d;
      }

      .is-active-half::before {
        color: #659e2d;
      }
    }
  }

  &_android & {
    @import 'smart-app-banner-android';
  }

  &_ios {
    max-width: 480px;
    min-width: 320px;
    font-family: Arial, sans-serif;

    .react-rater {
      font-size: 7px;
      margin-bottom: 2px;
      display: block;

      a {
        color: transparent;
        margin-right: 6px;
        -webkit-text-stroke: 1px #ff9500;
      }

      .is-active {
        color: #ff9500;
      }

      .is-active-half::before {
        color: #ff9500;
      }
    }
  }

  &_ios & {
    @import 'smart-app-banner-ios';
  }
}
