
// large
$lg: 1200px !default;
$lg-min: $lg !default;
$lg-max: ($lg-min - 1) !default;

// medium
$md: 992px !default;
$md-min: $md !default;
$md-max: ($md-min - 1) !default;

// small
$sm: 768px !default;
$sm-min: $sm !default;
$sm-max: ($sm-min - 1) !default;

// queries
$lg: #{'(min-width:'$lg-min')'};
$md: #{'(min-width:'$md-min') and (max-width: '$lg-max')'};
$sm: #{'(min-width:'$sm-min') and (max-width:'$md-max')'};
$xs: #{'(max-width:'$sm-max')'};

/* Имеет страшно мозг линтер на функциях scss */
/* stylelint-disable */

@mixin make-columns($mod, $scr) {
  $columns: 12;

  @for $var from 1 through $columns {
    @media #{$scr} {
      &_#{$mod}-#{$var} {
        $precision: 100000;

        @if ($mod == 'xs') {
          min-width: percentage(round($var*$precision/$columns)/$precision);
        }

        @else {
          width: percentage(round($var*$precision/$columns)/$precision);
        }
      }
    }
  }

  @media #{$scr} {
    &_#{$mod}-0 {
      display: none;
    }
  }
}

.grid {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  @include make-columns('xs', $xs);
  @include make-columns('sm', $sm);
  @include make-columns('md', $md);
  @include make-columns('lg', $lg);
}
