/* GRID */

.burger {
  .twelve {
    width: 100%;
  }

  .eleven {
    width: 91.53%;
  }

  .ten {
    width: 83.06%;
  }

  .nine {
    width: 74.6%;
  }

  .eight {
    width: 66.13%;
  }

  .seven {
    width: 57.66%;
  }

  .six {
    width: 49.2%;
  }

  .five {
    width: 40.73%;
  }

  .four {
    width: 32.26%;
  }

  .three {
    width: 23.8%;
  }

  .two {
    width: 15.33%;
  }

  .one {
    width: 6.866%;
  }

  /* COLUMNS */

  .col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
  }

  .col:first-of-type {
    margin-left: 0;
  }

  .container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  /* CLEARFIX */

  .cf::before,
  .cf::after {
    content: ' ';
    display: table;
  }

  .cf::after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

  /* ALL */

  &__line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all .3s ease-in-out;
  }

  /* ONE */

  &_1.dropdown_opened &__line {
    &_1 {
      transform: translateY(13px) rotate(45deg);
    }

    &_2 {
      opacity: 0;
    }

    &_3 {
      transform: translateY(-13px) rotate(-45deg);
    }
  }

  /* TWO */

  &_2.dropdown_opened &__line {
    &_1 {
      transform: translateY(13px);
    }

    &_3 {
      transform: translateY(-13px);
    }
  }

  /* THREE */

  &_3.dropdown_opened &__line {
    &_1 {
      width: 40px;
      transform: translateX(-10px) rotate(-45deg);
    }

    &_3 {
      width: 40px;
      transform: translateX(-10px) rotate(45deg);
    }
  }

  /* FOUR */

  &_4.dropdown_opened &__line {
    &_1 {
      width: 40px;
      transform: translateX(10px) rotate(45deg);
    }

    &_3 {
      width: 40px;
      transform: translateX(10px) rotate(-45deg);
    }
  }

  /* FIVE */

  &_5 &__line {
    &_2 {
      transition-delay: .3s;
    }
  }

  &_5.dropdown_opened {
    transform: rotate(90deg);
  }

  &_5.dropdown_opened &__line {
    &_1 {
      width: 35px;
      transform-origin: right;
      transform: translateY(15px) rotate(45deg);
    }

    &_2 {
      transition: none;
      opacity: 0;
    }

    &_3 {
      width: 35px;
      transform-origin: right;
      transform: translateY(-15px) rotate(-45deg);
    }
  }

  /* SIX */

  &_6.is-active {
    transition: all .3s ease-in-out;
    transition-delay: .6s;
    transform: rotate(45deg);
  }

  &_6.is-active .line:nth-child(2) {
    width: 0;
  }

  &_6.is-active .line:nth-child(1),
  &_6.is-active .line:nth-child(3) {
    transition-delay: .3s;
  }

  &_6.is-active .line:nth-child(1) {
    transform: translateY(13px);
  }

  &_6.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(90deg);
  }

  /* SEVEN */

  &_7.is-active .line:nth-child(1) {
    width: 30px;
  }

  &_7.is-active .line:nth-child(2) {
    width: 40px;
  }

  &_7.is-active .line {
    transform: rotate(30deg);
  }

  /* EIGHT */

  &_8.is-active .line:nth-child(2) {
    opacity: 0;
  }

  &_8.is-active .line:nth-child(1) {
    transform: translateY(13px);
  }

  &_8.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(90deg);
  }

  /* NINE */

  &_9 {
    position: relative;
    transition: all .3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 70px;
      height: 70px;
      border: 5px solid transparent;
      top: calc(50% - 35px);
      left: calc(50% - 35px);
      border-radius: 100%;
      transition: all .3s ease-in-out;
    }

    &.is-active {
      transform: rotate(45deg);

      &::before {
        border: 5px solid #ecf0f1;
      }

      .line {
        width: 35px;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(1) {
        transform: translateY(13px);
      }

      .line:nth-child(3) {
        transform: translateY(-13px) rotate(90deg);
      }
    }
  }

  /* TEN */

  &_10 {
    transition: all .3s ease-in-out;
  }

  &_10.is-active {
    transform: rotate(90deg);
  }

  &_10.is-active .line:nth-child(1) {
    width: 30px;
  }

  &_10.is-active .line:nth-child(2) {
    width: 40px;
  }

  /* ELEVEN */

  &_11 {
    transition: all .3s ease-in-out;
  }

  &_11.is-active {
    animation: smallbig .6s forwards;
  }

  @keyframes smallbig {
    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(0);
    }
  }

  &_11.is-active .line:nth-child(1),
  &_11.is-active .line:nth-child(2),
  &_11.is-active .line:nth-child(3) {
    transition-delay: .2s;
  }

  &_11.is-active .line:nth-child(2) {
    opacity: 0;
  }

  &_11.is-active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  &_11.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }

  /* TWELVE */

  &_12.is-active .line:nth-child(1) {
    opacity: 0;
    transform: translateX(-100%);
  }

  &_12.is-active .line:nth-child(3) {
    opacity: 0;
    transform: translateX(100%);
  }
}
