@import '../theme';

.tabsSwitcher .reactNoJsTabs {
  &__tabElement {
    color: $med-grey-txt;
    font-size: 14px;
    margin: 0 24px 0 0;
    padding: 2px 0 18px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $dark-txt;
    }

    &_active {
      color: $dark-txt;
      border-bottom-color: $turtle-green;
    }

    @media #{$phone} {
      margin: 0;
      padding: 2px 0;
      text-align: left;
    }
  }

  &__content {
    border-top: 1px solid $white-six;
    padding-top: 24px;
  }

  @media #{$phone} {
    &__tabs {
      width: 100%;
    }

    &__tab {
      display: block;
    }
  }
}

