<h2 id="components">Components</h2>
<p><strong>src-core/components/ag-grid/ag-grid.jsx</strong></p>
<h3 id="1-ag-grid-tables">1. Ag-grid Tables</h3>
<p>Документация по модулю <a href="https://www.ag-grid.com/">https://www.ag-grid.com/</a><br>Кроме одного параметра принимает еще много параметров, см. документацию.   </p>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">fit</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">false</td>
<td style="text-align:left">Указывает нужно ли автоматом вписывать размер таблици в размер блока</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/aside-banner/aside-banner.jsx</strong></p>
<h3 id="1-asidebanner">1. AsideBanner</h3>
<p>Используется для прилипания банеров слева контента и справа<br>Пример:   </p>
<pre><code class="lang-html">&lt;AsideBanner left /&gt;
</code></pre>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">left</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Прилепить слева банер</td>
</tr>
<tr>
<td style="text-align:left">right</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Прилепить ссправа банер</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/banner/banner.jsx</strong></p>
<h3 id="1-banner">1. Banner</h3>
<p>Основной компонент показа банеров, пока в разработке в будущем измениться<br>Пример:   </p>
<pre><code class="lang-html">&lt;Banner&gt;   
  I`m a banner   
&lt;/Banner&gt;
</code></pre>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Сюда прилетает баннер, покачто, это измениться в будущем</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/block/block.jsx</strong></p>
<h3 id="1-block">1. Block</h3>
<p>Основной компонент сайта, у него есть шапка и подвал, контент внутри.<br>Использется для однообразия показа контента.<br>На мобилах шапка прилипает.<br>Пример:   </p>
<pre><code class="lang-html">&lt;Block&gt;   
  &lt;div header&gt;   
     Этого элемента может и не быть,   
     шапку схватывает компонент именно по пропсу header   
  &lt;/div&gt;   
  &lt;div&gt;Контент1&lt;/div&gt;   
  ...   
  &lt;div&gt;Контент ...&lt;/div&gt;   
  &lt;div footer&gt;   
     Этого элемента может и не быть,   
     шапку схватывает компонент именно по пропсу footer   
  &lt;/div&gt;   
&lt;/Block&gt;
</code></pre>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Тут и шапка и футер и контент Шапка и футер имеют нужные пропсы: header, footer. Контент без этих пропсов</td>
</tr>
<tr>
<td style="text-align:left">bgGray</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Задает цвет подкладки</td>
</tr>
<tr>
<td style="text-align:left">gray</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Задает цвет</td>
</tr>
<tr>
<td style="text-align:left">noTabs</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Веталь знает что это</td>
</tr>
<tr>
<td style="text-align:left">olive</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Задает цвет</td>
</tr>
<tr>
<td style="text-align:left">disabled</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">false</td>
<td style="text-align:left">Используется для заглушения блока, т.е. он вроде есть но им нельзя воспользоваться и ничего не кликабельно.</td>
</tr>
<tr>
<td style="text-align:left">overflowHidden</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">false</td>
<td style="text-align:left">Скрывает избыток информации, тянется по родителю или жестко задан</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/button/button.jsx</strong></p>
<h3 id="1-button">1. Button</h3>
<p>Абстракция кнопки, поправлены стили.<br>Все пропсы копирует в button tag<br>Пример:   </p>
<pre><code class="lang-html">&lt;Button onClick=&quot;() =&gt; alert(&#39;Clicked!&#39;)&quot;&gt; Click me!&lt;/Button&gt;
</code></pre>
<hr>
<p><strong>src-core/components/cols/cols.jsx</strong></p>
<h3 id="1-cols">1. Cols</h3>
<p>Компонент правильно создает колонки, перебирает чилдов   </p>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Каждый элемент станет колонкой</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/container/container.jsx</strong></p>
<h3 id="1-container">1. Container</h3>
<p>Обвертка для всего сайта, умеет держать ширину сайта и центрироваться.   </p>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">body</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Будет удерживать максимальную ширину сайта</td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">style</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Ручное задание стилей, deprecated</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/drop-down/drop-down.jsx</strong></p>
<h3 id="1-dropdown">1. DropDown</h3>
<p>Выпадалка при клике   </p>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">dontCloseOnOutsideClick</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">false</td>
<td style="text-align:left">Не закрывать при клике вне контейнера</td>
</tr>
<tr>
<td style="text-align:left">group</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left">Зарезервировано на будущее</td>
</tr>
<tr>
<td style="text-align:left">onOpen</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Каллбек при открытии</td>
</tr>
<tr>
<td style="text-align:left">onClose</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Каллбек при закрытии</td>
</tr>
<tr>
<td style="text-align:left">whichOpened</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from Redux</td>
</tr>
<tr>
<td style="text-align:left">actionOpen</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from Redux</td>
</tr>
<tr>
<td style="text-align:left">actionClose</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from Redux</td>
</tr>
<tr>
<td style="text-align:left">actionDestroyed</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from Redux</td>
</tr>
<tr>
<td style="text-align:left">enableOnClickOutside</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from react-onclickoutside</td>
</tr>
<tr>
<td style="text-align:left">disableOnClickOutside</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left">Internal from react-onclickoutside</td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/element-geometry/element-geometry.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">update</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">destroy</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">name</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/flexbox/flexbox.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">row</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">column</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">wrap</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">wrap_mobile</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">spaceAroundContent</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">spaceAroundContent_mobile</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">spaceBetweenContent</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">spaceBetweenContent_mobile</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/head-menu/head-menu.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">height</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">body</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">semiTransparent</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/head-menu-sticked/head-menu-sticked.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">height</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">body</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">semiTransparent</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/icon/icon.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">type</td>
<td style="text-align:left">enum</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">title</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/image/image.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">thumbnailBase64</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">url</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">ratio</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">alt</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">sources</td>
<td style="text-align:left">node</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/link/link.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">to</td>
<td style="text-align:left">union</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">query</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">hash</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">state</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">rel</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">title</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">inlineBlock</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">noFollow</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">target</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">newWindow</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">blank</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">onClick</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/list/list.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">inline</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">separate</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">tile</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">overflowHidden</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">centeredVertical</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">itemBlock</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/live/live.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/components/loader/loader.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">gray</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">color</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/media-cols/media-cols.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">column</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/media-vary/media-vary.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">column</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/oauth-request/oauth-request.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">socOauthName</td>
<td style="text-align:left">enum</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/pic/pic.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">width</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">height</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">src</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">layout</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">alt</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">inlineBlock</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/react-nojs-tabs/react-nojs-tabs.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">equalWidth</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">fullWidth</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/rss/rss.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">href</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">title</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/sensor/provider.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">provideMedia</td>
<td style="text-align:left">objectOf</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/seo/seo.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/shade/shade.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/components/slider/media-slider.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">desktop</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">tablet</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">phone</td>
<td style="text-align:left">number</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/slider/slider.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">itemWidth</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">itemStickX</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/smart-app-banner/smart-app-banner.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">fixedBottom</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">userAgent</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">defaultLanguage</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">daysHidden</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left">15</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">daysReminder</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left">90</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">appName</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">appDeveloper</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">appIdIOS</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">appIdAndroid</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">priceText</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">price</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">installButtonText</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">installButtonTextIOS</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">installButtonTextAndroid</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">force</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">disabled</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/components/tooltip/tooltip.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">container</td>
<td style="text-align:left">any</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">title</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">position</td>
<td style="text-align:left">enum</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">fixed</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">true</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">space</td>
<td style="text-align:left">union</td>
<td style="text-align:left">no</td>
<td style="text-align:left">5</td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/data-provider/data-provider.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">initialized</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">name</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">url</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">method</td>
<td style="text-align:left">enum</td>
<td style="text-align:left">yes</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">provider</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionInit</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionLoad</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">element</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/dict/dict.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">initialized</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">dict</td>
<td style="text-align:left">any</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">url</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionInit</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionLoad</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">injectPropName</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">element</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/form.jsx</strong></p>
<h3 id="1-basic-form-component">1. Basic Form Component</h3>
<p>For full data binding (receive data from loader and send to server) -<br>use dataBind=&quot;name&quot; parameters in the form elements.<br>&quot;name&quot; for data binding MUST be unique.<br>If component with &quot;dataBinding&quot; prop found in form child element -<br>such properties are injecting to this element:   </p>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">initialized</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">name</td>
<td style="text-align:left">string</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">controller</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">primaryKey</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">form</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionInit</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionFieldChange</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionLoadSchema</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionLoadData</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionInsert</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">actionSubmit</td>
<td style="text-align:left">func</td>
<td style="text-align:left">yes</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">onChange</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/input-checkbox.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">id</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">name</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/input-image.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">defaultImage</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">value</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">style</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">onEdit</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">onDelete</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">onRepair</td>
<td style="text-align:left">func</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">_arrayKey</td>
<td style="text-align:left">number</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">_arrayElementProps</td>
<td style="text-align:left">shape</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<h3 id="2-">2.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">_form</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">emptyArrayBlock</td>
<td style="text-align:left">element</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/input-inputarray.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">addEmptyElementWhenNull</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">true</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">safeDelete</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left">true</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">deletedElementStyle</td>
<td style="text-align:left">object</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/input-map.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/form/input-masked.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">mask</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">placeholder</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<h3 id="2-">2.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">alwaysShowMask</td>
<td style="text-align:left"></td>
<td style="text-align:left">no</td>
<td style="text-align:left">false</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">maskChar</td>
<td style="text-align:left"></td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/form/input-phone.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/form/input-simple-combo.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/form/input.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">type</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">id</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">name</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">placeholder</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/maps/layers.jsx</strong></p>
<h3 id="1-">1.</h3>
<h3 id="2-">2.</h3>
<hr>
<p><strong>src-core/containers/maps/maps.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">withBaseLayers</td>
<td style="text-align:left">bool</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">children</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">width</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">height</td>
<td style="text-align:left">string</td>
<td style="text-align:left">no</td>
<td style="text-align:left">&lt;See the source code&gt;</td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/not-found/not-found.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">location</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">router</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">history</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/page-mini-site/content/about-me.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-mini-site/content/portfolio.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-mini-site/content/real-estate.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-mini-site/content/slider-main.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-mini-site/menu/menu-mini-site.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-mini-site/page-mini-site.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p><strong>src-core/containers/page-not-found_v1/not-found.jsx</strong></p>
<h3 id="1-">1.</h3>
<table>
<thead>
<tr>
<th style="text-align:left">Property</th>
<th style="text-align:left">Type</th>
<th style="text-align:left">Required</th>
<th style="text-align:left">Default value</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">location</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">router</td>
<td style="text-align:left">custom</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
<tr>
<td style="text-align:left">history</td>
<td style="text-align:left">node</td>
<td style="text-align:left">no</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
</tr>
</tbody>
</table>
<hr>
<p><strong>src-core/containers/sandbox/sandbox1.jsx</strong></p>
<h3 id="1-">1.</h3>
<hr>
<p>&lt;sub&gt;This document was generated by the &lt;a href=&quot;https://github.com/marborkowski/react-doc-generator&quot; target=&quot;_blank&quot;&gt;<strong>React DOC Generator v1.2.5</strong>&lt;/a&gt;.&lt;/sub&gt;</p>
