@import '../../theme/variables';

.viewport {
  //background: rgba(0, 0, 0, .5);
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //min-width: 100vw;
  //min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  > * {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    z-index: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
  }
}

