@import '../../theme/variables';

$loading-selector: '[data-dropdown-loading]';

.dropdown {
  // display: inline-flex; // TODO Проверить влияние
  position: relative;

  &_normalFlow {
    &PositionDown {
      flex-direction: column;
    }

    &PositionUp {
      flex-direction: column-reverse;
    }

    // TODO Сделать Флоаты

    /* &FloatRight {
      flex-direction: row;
    }

    &FloatLeft {
      flex-direction: row-reverse;
    } */
  }

  &__loading {
    display: none;
  }

  &__loader {
    margin: auto;
  }

  &[data-dropdown-loading] {
    position: relative;
    text-align: center;
  }

  &[data-dropdown-loading] &__loading {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  &__btn {
    cursor: pointer;
    // visibility: visible;
  }

  &[data-dropdown-loading] &__btn {
    cursor: default;
    visibility: hidden;
  }

  &__content {
    display: none;
    overflow: auto;
    height: auto;
    width: auto;
    min-width: 100%;
    box-sizing: border-box;

    &_absoluteFlow {
      position: absolute;
      z-index: 2;

      &PositionDown {
        top: 100%;
        bottom: auto;
      }

      &PositionUp {
        top: auto;
        bottom: 100%;
      }

      &FloatRight {
        left: auto;
        right: 0;
      }

      &FloatLeft {
        left: 0;
        right: auto;
      }
    }
  }

  &_opened > &__content {
    display: block;
  }
}
