@import '../../theme/variables';

.notifications-wrapper {
  z-index: $notifications-z-index;
  position: absolute;
}

.notification {
  // фиксит перенос одного длинного слова (кроме оперы)
  word-break: break-all; // колбэк для всех браузеров
  word-break: break-word; // только webkit
}

.notifications {
  // превращаем контейнер нотификаций в флексбокс
  &-tl,
  &-tc,
  &-tr,
  &-bl,
  &-bc,
  &-br {
    width: auto !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
  }

  // вертикальное выравнивание по нижнему краю
  &-bl,
  &-bc,
  &-br {
    justify-content: flex-end;
  }

  // горизонтальное выравнивание по левому краю
  &-tl,
  &-bl {
    align-items: flex-start;
  }

  // горизонтальное выравнивание по центру
  &-tc,
  &-bc {
    align-items: center;
  }

  // горизонтальное выравнивание по правому краю
  &-tr,
  &-br {
    align-items: flex-end;
  }
}
