@import '../../../../theme/variables';

@font-face {
  font-family: checkboxChecked;
  src: url('./icons/new/checkboxChecked.woff') format('woff');
}

.icon {
  &_checkboxChecked {
    font: normal normal normal 14px/1 checkboxChecked;

    .p_ {
      &0 {
        color: $fb;
      }

      &1 {
        color: $fb;
        margin-left: -1em;
      }

      &2 {
        color: #fff;
        margin-left: -1em;
      }
    }
  }
}
