@import '../../../../theme/variables';

@font-face {
  font-family: radioChecked;
  src: url('./icons/new/radioChecked.woff') format('woff');
}

.icon {
  &_radioChecked {
    font: normal normal normal 14px/1 radioChecked;

    .p_ {
      &0 {
        color: #fff;
      }

      &1 {
        color: $fb;
        margin-left: -1em;
      }

      &2 {
        color: $fb;
        margin-left: -1em;
      }
    }
  }
}
