@font-face {
  font-family: viewBig;
  src: url('./icons/new/viewBig.woff') format('woff');
}

.icon {
  &_viewBig {
    font: normal normal normal 14px/1 viewBig;
    // color: #f00;
    //
    // .viewBigPlay {
    //   color: #fff;
    //   margin-left: -1.9091796875em;
    // }
  }
}
