@font-face {
  font-family: viewSmall;
  src: url('./icons/new/viewSmall.woff') format('woff');
}

.icon {
  &_viewSmall {
    font: normal normal normal 14px/1 viewSmall;
    // color: #f00;
    //
    // .viewSmallPlay {
    //   color: #fff;
    //   margin-left: -1.9091796875em;
    // }
  }
}
