@font-face {
  font-family: youtube;
  src: url('./icons/new/youtube.woff') format('woff');
}

.icon {
  &_youtube {
    font: normal normal normal 14px/1 youtube;

    .p {
      &_0 {
        color: #f00;
      }

      &_1 {
        color: #fff;
        margin-left: -1.9091796875em;
      }
    }
  }
}
