@import '../../theme/variables';

.button {
  border: 0;
  display: inline-block;
  background: transparent none;
  vertical-align: middle;
  text-align: center;
  border-radius: 0;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;

  &_disabled {
    cursor: default;
  }
}
