// @import './scss/font-awesome';
/* stylelint-disable */

.ag-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ag-body {
  overflow: auto;
}

label {
  font-weight: normal !important;
}

.div-percent-bar {
  display: inline-block;
  height: 20px;
  position: relative;
}

.div-percent-value {
  position: absolute;
  padding-left: 4px;
  font-weight: bold;
  font-size: 13px;
}

.div-outer-div {
  display: inline-block;
  height: 100%;
  width: 100%;
}

button {
  margin-left: 4px;
  margin-right: 4px;
}

.customHeaderMenuButton {
  margin-top: 5px;
  margin-left: 4px;
  float: left;
}

.customHeaderLabel {
  margin-left: 5px;
  margin-top: 3px;
  float: left;
}

.customSortDownLabel {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.customSortUpLabel {
  float: left;
  margin-left: 3px;
  margin-top: 4px;
}

.customSortRemoveLabel {
  float: left;
  font-size: 11px;
  margin-left: 3px;
  margin-top: 6px;
}

.active {
  color: cornflowerblue;
}

.hidden { display:none; }


.customHeaderLabel {
  margin-left: 5px;
  margin-top: 3px;
  float: left;
}

.customExpandButton {
  float:right;
  margin-top: 5px;
  margin-left: 3px;
}

.expanded {
  animation-name: toExpanded;
  animation-duration: 1s;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.collapsed {
  color: cornflowerblue;
  animation-name: toCollapsed;
  animation-duration: 1s;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.click-area {
  min-width: 14px;
  text-align: center;
}

.font-size-10 {
  font-size: 10px;
}

.rotate-180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.rotate-270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

@keyframes toExpanded {
  from {
    color: cornflowerblue;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  to {
    color: black;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

@keyframes toCollapsed{
  from {
    color: black;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  to {
    color: cornflowerblue;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}
