@font-face {
  font-family: 'commentArrow';
  src: url('./icons/commentArrow.woff') format('woff');
}

.fontOther {
  &__icon {
    &_commentArrow {
      font: normal normal normal 14px/1 'commentArrow';

      &::before {
        content: '\e900';
      }
    }
  }
}
