@import './variables';
// @import '../assets/fonts/fonts';

sup {
  font-size: .7em;
}

html,
body {
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: subpixel-antialiased;
  // text-shadow: 0 0 1px rgba(0, 0, 0, .3);
  // transform: rotate(-.0000000001deg);
  scroll-behavior: auto;
  -webkit-overflow-scrolling: auto;
}

/* .touch {
  *:hover {
    transition: none !important;
    transform: none !important;
  }
} */

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -webkit-overflow-scrolling: touch;
}

body {
  // min-height: 100vh; // Добавляет эффект что можно скрыть в мобилках в браузере адресную строку :)
  // когда тянум за элементы без скрула
  // font-family: Arial, sans-serif;
  // line-height: 1.2;
  // color: $color-main;
  // background: $main-background;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  max-width: 100%;
  // transform: translate3d(0px,0px,0px);
}

.body {
  box-sizing: border-box;
  // margin: 0;
}

.fulminantly,
.fulminantly * {
  pointer-events: none !important;
}

.featuredRetouch {
  transition: .3s filter ease-out;
}

.retouch,
[retouch] { // Ретуширование
  filter: grayscale(80%) opacity(80%);
}

.unInteractive { // Неинтерактивное
  pointer-events: none;
}

// Maybe not needed
a,
button {
  touch-action: manipulation;
}

@media #{$phone} {
  body {
    overflow-x: auto;
    overflow-y: auto;
  }
}

svg {
  max-height: 100%;
  max-width: 100%;
}

input::-ms-clear { // Fix IE 11+ Button clear
  display: none;
}
