@import '../theme';

.runningProjectsCheckBox {
  width: 50%;
  box-sizing: border-box;
  margin: 0 auto;
}

.runningProjectPid {
  width: 100%;
  height: 50%;
  line-height: 50%;
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
}

.uniFormInput {
  width: 40%;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 0px;
  float: left;

}
.uniFormInput__input {
  padding: 0px;
}

.uniCheckbox{
  text-align: center;
}

.small {
  width: 10%;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
.uniFormSelect__button {
  padding: 0 8px;

//   background-color: #0d71bb;
  text-align: center;
 }

.runtimeConstString {
  display: block;
  //flex-direction: row;
  align-items: center;
}
.shareholder:after {
  content: "";
  clear: both;
  display: block;
}

.pageSettings {
  margin: 25px;
  padding: 25px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;



  &__table {
    width: 100%;

    td {
      //padding: 8px;
      padding: 0 8px 0 8px;
      font-size: 16px;
    }

    thead td {
      border-bottom: 2px solid #E3E3E3;
    }

    tbody {
      td {
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
      }

      td:last-child {
        border-right: none;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
  }

  &__link {
    color: $cool-blue-two;
    transition: color .25s ease-in-out;

    &:hover {
      text-decoration: none;
      color: $dark-sky-blue-three;
    }
  }

  &__portInput {
    width: 100%;
    height: 50%;
    line-height: 50%;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
  }

  &__portInput input[type=text] {
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 5px;
  }

}