@import '../../theme/variables';

.mediaVary {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  //height: auto;
  box-sizing: border-box;
  display: flex;
  //flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;

  &_column {
    flex-direction: column;
    height: 100%;
  }

  &__col {
    min-width: 0;
    min-height: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;

    & + & {
      //width: 100%;
      padding-left: 20px;
      //height: inherit;
    }
  }
}

@mixin media-vary {
  .mediaVary {
    flex-direction: column;
    align-content: center;
    align-items: flex-start;

    &__col {
      max-width: 100%;
      height: auto;
      flex-basis: auto;

      & + & {
        padding-left: 0;
        height: auto;
      }
    }
  }
}

@media #{$phone} {
  @include media-vary;
}
