@import '../../theme/variables';

.link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  //font-size: 12px;
  box-sizing: border-box;

  &_inlineBlock {
    display: inline-block;
  }

  &:hover {
    text-decoration: underline;
  }

  &_button:hover {
    text-decoration: none;
  }

  &_disabled {
    cursor: inherit;

    &:hover {
      text-decoration: inherit;
    }
  }
}
