@import '../../theme/variables';

.banner {
  text-align: center;
  //padding-bottom: 20px;
  line-height: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #ccc;
  position: relative;

  a {
    width: 100%;
  }

  .pic__wrapper {
    display: inline-block;
  }
}
