@import '../../theme/variables';

.headMenuSticked {
  width: 100%;
  // height: $height-menu;
  box-sizing: border-box;

  &__fixing {
    position: fixed;
    // position: sticky;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // height: $height-menu;
    // background: $background-menu;
    z-index: 999;
    // border-bottom: 1px solid #ccc;
    // box-shadow: $shadow;
    box-sizing: border-box;
    transition: background .115s;
    transform: translateZ(0);
    // transform: translate3d(0, 0, 0);
    // perspective: 1000;
    // &_semiTransparent {
    //  background: $background-menu-transparent;
    // }
  }

  &__container {
    // height: $height-menu;
  }
}
