@import '../../theme/variables';

.react-redux-modal {
  // position: relative; /Нельзя Потому что он рендериться на высоту HTML не более
  position: absolute;
  box-sizing: content-box;
  z-index: $popup-z-index;

  button:focus {
    outline: 0;
  }

  .rrm-holder {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .scroll {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    z-index: 1;
    will-change: transform;
  }

  .rrm-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    /*  z-index: 1;
    background-color: #fcfcfc;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #333;
    margin: 80px auto;
    overflow: hidden; */
  }

  .rrm-body {
    background-color: #fff;
    border-radius: 4px;
    padding: 24px;
    border: 1px solid #bababa;
  }

  .m-small .rrm-body {
    width: 300px;
  }

  .m-medium .rrm-body {
    width: 600px;
  }

  .m-large .rrm-body {
    width: 1000px;
  }

  .m-full .rrm-body {
    width: 100%;
  }

  .rrm-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(43, 46, 56, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  /* .rrm-holder .scroll .rrm-content.m-small {
    width: 300px;
  }

  .rrm-holder .scroll .rrm-content.m-small .rrm-title h2 {
    width: 140px;
  }

  .rrm-holder .scroll .rrm-content.m-medium {
    width: 500px;
  }

  .rrm-holder .scroll .rrm-content.m-medium .rrm-title h2 {
    width: 340px;
  }

  .rrm-holder .scroll .rrm-content.m-large {
    width: 800px;
  }

  .rrm-holder .scroll .rrm-content.m-large .rrm-title h2 {
    width: 640px;
  }

  .rrm-holder .scroll .rrm-content .rrm-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    color: #444;
    box-sizing: content-box;
  }

  .rrm-holder .scroll .rrm-content .rrm-title h2 {
    height: 60px;
    padding: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em;
    margin: 0;
    line-height: 60px;
    float: left;
    box-sizing: content-box;
  }

  .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions {
    width: 120px;
    height: 100%;
    text-align: center;
    float: left;
  }

  .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button {
    width: 40px;
    height: 40px;
    margin: 10px 8px;
    line-height: 40px;
    position: relative;
    border: 1px solid transparent;
    float: right;
    background-color: transparent;
    text-align: center;
    padding: 0;
    color: #666;
    font-size: 1.2em;
    border-radius: 50%;
  }

  .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button:hover {
    color: #4186bf;
    cursor: pointer;
    background-color: rgba(65, 134, 191, 0.1);
    border-color: rgba(65, 134, 191, 0.2);
    box-shadow: 2px 2px 3px #f0f0f0;
  }

  .rrm-holder .scroll .rrm-content .rrm-body {
    width: 100%;
    padding: 20px;
  }

  .rrm-holder .rrm-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 58, 68, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  } */
}
