{% extends "::base.html.twig" %}
{% block css %}
  {{ parent() }}
<% for(var css in (htmlWebpackPlugin.files.css)) { -%>
  <link
    href="{{ ui('<%-htmlWebpackPlugin.files.css[css]%>') }}"
    rel="stylesheet"
    type="text/css"
    crossorigin="anonymous"/>
<% } -%>

  {# <link rel="stylesheet" media="all" href="{{ ui('/font-awesome/3.2.1/css/font-awesome.css') }}" crossorigin="anonymous"> #}
  {# Your CSS here, ui - refers to folder html#}
{% endblock %}

{% block body %}
  <div
    id="<%= htmlWebpackPlugin.options.appMountId %>"
    style="font-size:<%= htmlWebpackPlugin.options.baseFontSize || 14%>px;"
  ></div>
{% endblock %}

{% block js_footer %}
  {{ parent() }}
<%# for (var chunk in (htmlWebpackPlugin.files.chunks)) { -%\>
  <script src="{{ ui('<\%= htmlWebpackPlugin.files.chunks[chunk].entry%\>') }}"></script>
<\% } -#%>
<% if(webpackConfig.output.runtimePublicPath) { -%>
  <script type="text/javascript">
    <%- webpackConfig.output.runtimePublicPath %>= '{{ ui('<%- webpackConfig.output.publicPath%>') }}';
  </script>
<% } -%>
<% for (var js in (htmlWebpackPlugin.files.js)) { -%>
  <script src="{{ ui('<%= htmlWebpackPlugin.files.js[js]%>') }}"></script>
<% } -%>
<% if(htmlWebpackPlugin.options.devServer) { -%>
  <script src="{{ ui('<%=htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js') }}"></script>
<% } -%>

  {# <script src="{{ ui('/v5/js/NpsBundle/nps_check.js') }}"></script> #}
  {# Your JS here#}
{% endblock %}
