@import '../../theme/variables';

.headMenu {
  position: absolute;
  width: 100%;
  height: $height-menu;
  box-shadow: $shadow;
  background: $background-menu;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateZ(0);
  transition: background .115s;
  box-sizing: border-box;

  &_semiTransparent {
    background: $background-menu-transparent;
  }

  &__container {
    height: inherit;
  }

  &__scrollGetter {
    display: none;
  }
}

@media #{$desktop} {
  .headMenu {
    display: flex;

    &__scrollGetter {
      max-width: 20px;
      height: inherit;
      visibility: hidden;
      overflow-y: scroll;
      overflow-x: hidden;
      display: inline-flex;
      vertical-align: middle;
    }
  }
}
