@import '../../theme/variables';

.reactNoJsTabs {
  box-sizing: border-box;

  &__tabs {
    margin: 0 0 -1px 0;
    padding: 0;
    list-style: none;
    display: table;
    box-sizing: border-box;

    &_fullWidth {
      width: 100%;
    }

    &_equalWidth {
      table-layout: fixed;
    }

    @media #{$phone} {
      margin: 0 auto -1px auto;
      text-align: center;
    }

    &Content {
      position: relative;
      clear: both;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      flex-basis: 100%;
      height: auto;
      min-height: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__tab {
    display: table-cell;
    -webkit-touch-callout: none; /* iOS Safari */
    user-select: none;
    vertical-align: bottom;
    box-sizing: border-box;
  }

  &__tabElement {
    position: relative;
    z-index: 1;
    box-sizing: border-box;

    &_active {
      cursor: default;
      display: none;
    }

    &_passive {
      cursor: pointer;
      display: block;
    }
  }

  &__control {
    display: none;
  }

  &__content {
    z-index: -9999;
    position: relative;
    clear: both;
    display: none;
    visibility: hidden;
    box-sizing: border-box;
  }
}

/* @media #{$phone} {
  .reactNoJsTabs {
    &__tabs {
      margin: 0 auto -1px auto;
      text-align: center;
    }
  }
} */
