@import '../../theme/variables';

.block {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 0;
  background-color: #fff;

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__footer {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &_overflowHidden &__content {
    overflow: hidden;
  }

  &_disabled {
    box-shadow: none;
  }

  &__disabled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(204, 204, 204, .7);
    border-radius: inherit;
    z-index: 1;
  }
}

@media #{$phone} {
  .block {
    min-height: calc(90vh - 40px);

    &__header {
      // position: sticky;
    }
  }
  // height: 100vh;
  // overflow-y: scroll;
}
