@import '../../theme/variables';

.mediaCols {
  display: flex;
  flex-direction: row;
  width: 100%;
  // margin: 0 auto;
  box-sizing: border-box;

  @media #{$phone} {
    flex-direction: column;
  }

  &__col {
    $parent: &;

    display: inline-block;
    vertical-align: top;
    // float: none;
    box-sizing: border-box;

    @media #{$phone} {
      width: 100%;
      max-width: 100%;
      height: auto;

      + #{$parent} {
        padding-left: 0;
        padding-right: 0;
        height: auto;
      }
    }
  }
}
