@import '../../theme/variables';
@import './icons/new/search';
@import './icons/new/home';
@import './icons/new/envelope';
@import './icons/new/map';
@import './icons/new/user2';
@import './icons/new/gamburger';
@import './icons/new/arrowSlider';
@import './icons/new/settings';
@import './icons/new/cancel2';
@import './icons/new/carret';
@import './icons/new/arrow';
@import './icons/new/cancel';
@import './icons/new/copy';
@import './icons/new/youtube';
@import './icons/new/dollar';
@import './icons/new/user';
@import './icons/new/cart';
@import './icons/new/dropdown';
@import './icons/new/exit';
@import './icons/new/menu';
@import './icons/new/favorites';
@import './icons/new/login';
@import './icons/new/person';
@import './icons/new/plusCircle';
@import './icons/new/menuClose';
@import './icons/new/notification';
@import './icons/new/carretThin';
@import './icons/new/checkbox';
@import './icons/new/checkboxChecked';
@import './icons/new/radio';
@import './icons/new/radioChecked';
@import './icons/new/threePoints';
@import './icons/new/mapPoint';
@import './icons/new/mapMetro';
@import './icons/new/mapRegion';
@import './icons/new/mapArea';
@import './icons/new/mapStreet';
@import './icons/new/pdf';
@import './icons/new/metro';
@import './icons/new/starCircle';
@import './icons/new/arrowTopCircle';
@import './icons/new/brushCircle';
@import './icons/new/purse';
@import './icons/new/plus';
@import './icons/new/viewBig';
@import './icons/new/viewSmall';
@import './icons/new/print';
@import './icons/new/commentsCount';
@import './icons/new/maximize';
@import './icons/new/placeholder';
@import './icons/new/groups';
// 957-959
@import './icons/new/expand';
@import './icons/new/collapse';
@import './icons/new/minimize';
@import './icons/new/phoneCalls';
@import './icons/new/complainCircle';
@import './icons/new/minus';
@import './icons/new/undo';
@import './icons/new/favoriteList';
@import './icons/new/compare';

.icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  //text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-shadow: none;
}
