@import '../../theme/variables';

.asideBanner {
  position: absolute;
  top: 0;
  z-index: 0;

  &_left {
    left: auto;
    right: 100%;
    //padding-right: 10px;
    padding-right: 25px;
  }

  &_right {
    left: 100%;
    //padding-left: 10px;
    padding-left: 25px;
  }

  &__bannerImg img {
    max-width: none;
  }
}

@mixin aside-banner {
  .asideBanner {
    display: none;
  }
}

@media #{$tablet} {
  @include aside-banner;
}

@media #{$phone} {
  @include aside-banner;
}

.tv {
  @include aside-banner;
}
