@import '../../theme/variables';

.container {
  float: none;
  min-height: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;

  &_body {
    //max-width: 1024px;
    max-width: 940px;
    width: 100%;
    box-sizing: border-box;
  }
}

@mixin container {
  .container {
    &_body {
      padding: 0 15px;
    }
  }
}

@media #{$tablet} {
  @include container;
}

@media #{$phone} {
  .container {
    &_body {
      padding: 0;
    }
  }
}

.tv {
  @include container;
}
