// pt-sans-regular - latin_cyrillic-ext_latin-ext_cyrillic
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular');
  //src: url('./pt-sans-v8-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), url('./pt-sans-v8-latin_cyrillic-ext_latin-ext_cyrillic-regular.woff') format('woff');
}

// pt-sans-700 - latin_cyrillic-ext_latin-ext_cyrillic
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold');
  //src: url('./pt-sans-v8-latin_cyrillic-ext_latin-ext_cyrillic-700.woff2') format('woff2'), url('./pt-sans-v8-latin_cyrillic-ext_latin-ext_cyrillic-700.woff') format('woff');
}
// ../../assets/fonts
