@import '../../theme/variables';

.accordion {
  width: 100%;
  box-sizing: border-box;

  &__icon,
  &__text {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    box-sizing: border-box;

    &Container {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
    }
  }

  &__icon {
    font-weight: normal;
  }

  &__text {
    font-weight: inherit;
  }

  &__panel {
    &Container {
      width: 100%;
      min-height: 44px;
      background: $main-background;
      box-sizing: border-box;
    }
  }

  &__content {
    box-sizing: border-box;

    &Container {
      width: 100%;
      padding: 8px 0;
      box-sizing: border-box;

      &_passive {
        display: none;
      }

      &_active {
        display: block;
      }
    }
  }

  & + & {
    padding-top: 4px;
  }
}
