@import '../../theme/variables';

.cols {
  width: 100%;
  height: auto;
  display: table;
  clear: both;
  box-sizing: border-box;

  &__row {
    display: table-row;
  }

  &__col {
    display: table-cell;
    vertical-align: top;
    float: none;
    box-sizing: border-box;
  }
}
