@import '../../theme/variables';

body:hover .designHelper__imgContainer {
  z-index: 1;
}

.designHelper {
  $root: &;
  width: 100%;

  &__imgContainer {
    z-index: -1;
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
  }

  .active &__imgContainer {
    z-index: 1990000000;
  }

  .active &__img {
    opacity: .8;
  }

  &__imgWrapper {
    box-sizing: content-box;
    outline: 1px dotted #0ff;
    // border-left: 1px dotted #0ff;
    // border-right: 1px dotted #0ff;
  }

  &__img {
    max-width: 100%;
    width: 100%;
    opacity: .3;
  }

  &__switchContainer {
    z-index: 200;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;

    span {
      transition: opacity .25s linear;
      opacity: .2;
      color: #000;
      background-color: #cfcfcf;
      padding: 2px;
      border: 1px solid #a9a9a9;
      border-radius: 2px;
      margin-right: 5px;
    }

    &:hover span {
      opacity: .9;
    }

    &Btn_active span {
      opacity: .9;
    }

    .button + .button {
      margin-left: 5px;
    }
  }
}
