@import '../../theme/variables';

.flexbox {
  display: flex;
  //flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  // flex: none;
  order: 0;
  box-sizing: border-box;

  &_row {
    flex-direction: row;
    max-height: 100%;
  }

  &_column {
    flex-direction: column;
    max-width: 100%;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_spaceAroundContent {
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: auto;
  }

  &_spaceAroundContentTop {
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    margin: auto;
  }

  &_spaceBetweenContent {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    // margin: auto;
  }
}

@media #{$phone} {
  .flexbox {
    &_spaceAroundContent,
    &_spaceBetweenContent,
    &_spaceBetweenContent_mobile,
    &_wrap {
      &_mobile {
        flex-wrap: wrap;
      }
    }

    &_spaceBetweenContent_mobile {
      justify-content: space-between;
      margin: auto;
    }
  }
}
