@import '../../theme/variables';

[data-spa-fullscreen] {
  overflow-y: hidden;
  overflow-x: hidden;
}

.layoutFullscreen {
  box-sizing: border-box;
  // This is because MONOLITH FACKUP z-index is 10000
  z-index: $fullscreen-z-index;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    height: 100%;
    min-height: 100%;
    // overflow-x: auto;
    // overflow-y: auto;
  }
}
