@import '../theme';

.defaultBlock {
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  transform: scale(0.5);

  &_fullScreen {
    min-height: 100vh;
    width: 100vw;
    bottom: auto;
    right: auto;
    transform: scale(1);
  }

  &__spinnerWrapper {
    position: relative;
    // cursor: pointer;
  }

  &__textInSpinnerWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__textInSpinner {
    font-family: "PT Sans", Calibri, Helvetica, Arial, sans-serif;
    font-size: 20px;
  }
}